<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note Master</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        {{ title }}
        <div class="form">
            <div class="form-group">
                <div class="form-group">
                    <label for="">Note Title</label>
                    <input type="text" class="form-control" v-model="note.title">
                </div>
                <div class="form-group">
                    <label for="">Note text</label>
                    <textarea class="form-control" name="" id="" cols="30" rows="10" v-model="note.text"></textarea>
                </div>
                <div class="form-group">
                    <button v-on:click="addNote" class="btn btn-primary">Submit</button>
                </div>
                <div class="row">
                    <div class="col-sm-4 note" v-for="(note, index) in notes">
                        <button class="close" @click="removeNote(index)">&times;</button>
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">
                                    {{ note.title }}
                                </h4>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ note.date }}
                                </h6>
                                <p class="card-text">
                                    {{ note.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '',
            text:'',
            note: {
                title: '',
                text: ''
            },
            notes : [{
                title: 'First Title',
                text: 'First Text',
                date: new Date(Date.now()).toLocaleString()
            }]
        },
        methods: {
            addNote(){
                let {text, title} = this.note
                this.notes.push({text, title, date: new Date(Date.now()).toLocaleString()})
            },
            removeNote(index){
                this.notes.splice(index, 1)
            }
        }
    })
</script>
</html>